<div>
  <div class="header" role="banner">
    <div class="header-logo" [routerLink]="['/']">
      <img
        width="40"
        alt="movie reel Logo"
        src="assets/movies-assets/movie-reel-cinema-tool.png"
      />
      <span class="header-logo-txt">NG MOVIES</span>
    </div>
    <div class="header-actions">
      <p-button
        label="SEARCH A MOVIE"
        icon="pi pi-search"
        [routerLink]="['/search']"
        [ngClass]="btnIsSelected ? 'select-btn' : 'unSelect-btn'"
      ></p-button>
      <p-button class="header-actions-about" label="ABOUT ME"></p-button>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
