.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
.content {
  position: fixed;
  top: 60px;
  min-width: 100%;
  min-height: 100%;
}
