.search {
  background-color: #e1e1e1;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 30px;
  padding-left: 180px;
  padding-right: 180px;
  overflow: scroll;
  .display-movies {
    height: 100%;
  }
}
:host ::ng-deep .p-dialog {
  .p-dialog-header-icons {
    z-index: 1;
  }
  .p-dialog-content {
    padding: 16px;
    position: absolute;
    width: 100%;
  }
  .p-dialog-header {
    padding: 10px;
  }
  .p-dialog-content:last-of-type {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
